<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <title>Cocktail Recipes</title>
    </head>
    <body>
        <h1>Here is your random Daily Cocktail</h1>
        <!-- <% if(data){ %>
            <%= data %>
        <% } %> -->
    </body>
</html>